body{
  font-family: Roboto, sans-serif;
  margin: 0;
  padding:50px 0;
  height: 2000px;
}
.heading{
  color: rgb(8, 0, 31);
  font-size: 35px;
  font-weight: 800;
  width: 100%;
  line-height: 1.2;
  text-align: center;
}
.description{
  color: rgb(60, 50, 100);
  line-height: 1.7;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
}